html{
    background-color: chocolate;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
h1{ 
    background-color: rgb(0, 138, 92);
    border: 5px solid black;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

    align-self: center;
}
.info{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 190px;
    align-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
}
.grid{
    height: 300px;
    display: grid;
    width: 600px;
    border: 5px solid red;
    border-radius: 10px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    
}
.grid>div{
    font-size: 50px;
    text-align: center;
    border: 2px solid red;
    margin: 0px;
    align-content: center;
    background-color: whitesmoke;
}
.grid>div:hover{
    background-color: rgb(48, 150, 184);
}

div>div>p{
    background-color: brown;
    border: 2px solid yellowgreen;
    margin-top: 0;
}